<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="content">
    <div class="mb-3">
        <h3>Welcome, <span th:text="${user.firstName} + ' ' + ${user.lastName} + '!'"></span></h3>
    </div>
    <div class="mb-3">
        <a th:href="@{/appointment/create}" class="btn btn-sm btn-primary">Schedule an appointment now</a>
    </div>
    <div class="card">
        <div th:if="${param.success}">
            <div class="alert alert-info">
                Successfully cancelled your appointment
            </div>
        </div>
        <div th:if="${not appointments.isEmpty()}">
            <h5 class="card-header">Recent appointments</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Who</th>
                            <th scope="col">When</th>
                            <th scope="col">Where</th>
                            <th scope="col">Test</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="appointment : ${appointments}">
                            <td th:text="${appointment.id}"></td>
                            <td th:text="${appointment.patientName}"></td>
                            <td th:text="${appointment.appointmentDate + ' ' + appointment.appointmentTime}"></td>
                            <td th:text="${appointment.location}"></td>
                            <td th:text="${appointment.testName}"></td>
                            <td th:text="${appointment.status}" th:class="${appointment.status eq 'SCHEDULED' ? 'text-primary' : appointment.status eq 'CHECKED_IN' ? 'text-info' : appointment.status eq 'SAMPLE_COLLECTED' ? 'text-warning' : appointment.status eq 'RESULT_REVIEW' ? 'text-secondary' : appointment.status eq 'RESULT_READY' ? 'text-success' : 'text-danger'}"></td>
                            <td>
                                <div class="d-flex">
                                    <a th:href="@{/appointment/{id}/edit(id=${appointment.id})}">Modify</a>
                                </div>

                                <div class="d-flex">
                                    <a th:href="@{/appointment/{id}/cancel(id=${appointment.id})}">Cancel</a>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>